# אבטחה - הקובץ הכי חשוב להסתיר!
credentials.json

# תיקיות עבודה כבדות (אין צורך להעלות אותן)
node_modules/
dist/
build/

# קבצי מערכת והגדרות אישיות
.env
.DS_Store
# אבטחה
credentials.json

# קבצי זמניים של אקסל (חשוב!)
~$*

# קבצי אקסל מקומיים (אם אתה לא רוצה אותם בגיט)
*.xlsx
*.xls

# תיקיות עבודה
node_modules/
dist/